<%-include('header')%>

    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <div class="site-section border-bottom m-lg-4" data-aos="fade">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-6">
                    <div class="block-16">
                        <figure>
                            <img src="img/img.png" alt="Image placeholder" class="img-fluid rounded">
                            <!-- <a href="https://youtu.be/FQcIolIajlg?si=FztY3k7SobiGltV2" class="play-button popup-vimeo"><span class="ion-md-play"></span></a> -->

                        </figure>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">


                    <div class="site-section-heading pt-3 mb-4">
                        <h2 class="text-black">Về Clouds Shop!</h2>
                    </div>
                    <p class="text-justify">Chào mừng bạn đến với Cloud Shop! Chúng tôi tự hào là địa điểm mua sắm hàng đầu cho những sản phẩm làm đẹp chất lượng cao và đa dạng. Với cam kết mang đến cho khách hàng những trải nghiệm mua sắm tuyệt vời nhất, cửa hàng mỹ phẩm của chúng tôi cam kết đáp ứng mọi nhu cầu làm đẹp của bạn.</p>
                    <p class="text-justify">
                        Cloud Shop chuyên cung cấp một loạt các sản phẩm mỹ phẩm đa dạng, từ các thương hiệu nổi tiếng đến các sản phẩm chăm sóc da tự nhiên. Bạn sẽ dễ dàng tìm thấy các loại kem chống nắng, kem dưỡng, nước tẩy trang và nhiều sản phẩm khác, đảm bảo đáp ứng đầy đủ các nhu cầu làm đẹp của bạn.
                    </p>

                </div>
            </div>
        </div>
    </div>





    <!-- Close Banner -->

    <!-- Start Section -->
    <section class="container py-5">
        <div class="row text-center pt-5 pb-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Clouds Shop</h1>
                <p>
                    Cloud Shop chuyên cung cấp một loạt các sản phẩm mỹ phẩm đa dạng, từ các thương hiệu nổi tiếng đến các sản phẩm chăm sóc da tự nhiên.
                </p>
            </div>
        </div>
        <div class="row">

            <div class="col-4  pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-danger text-center"><i class="fa fa-truck fa-lg"></i></div>
                    <h2 class="h5 mt-4 text-center">MIỄN PHÍ VẬN CHUYỂN</h2>
                </div>
            </div>

            <div class="col-4  pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-danger text-center"><i class="fas fa-exchange-alt"></i></div>
                    <h2 class="h5 mt-4 text-center">TRẢ HÀNG MIỄN PHÍ</h2>
                </div>
            </div>

            <div class="col-4  pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-danger text-center"><i class="fa fa-user"></i></div>
                    <h2 class="h5 mt-4 text-center">HỖ TRỢ KHÁCH HÀNG 24h</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section -->




    <%-include('footer')%>

    <!-- Start Script -->
    <script src="assets/js/jquery-1.11.0.min.js"></script>
    <script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/templatemo.js"></script>
    <script src="assets/js/custom.js"></script>
    <!-- End Script -->
</body>

</html>