<%-include('header')%>

<main>

    <h2>Thêm Sản Phẩm</h2>
    <form class="product-form" action="/add-product" method="POST" enctype="multipart/form-data">
        <p>Tên sản phẩm</p>
        <input type="text" name="proName" placeholder="">
        <br>
        <p>Giá sản phẩm</p>
        <input type="number" name="proPrice" placeholder="">
        <br>
        <p>Mô tả sản phẩm</p>
        <input type="text" name="proDescription" placeholder="">
        <br>
        <p>Hình ảnh sản phẩm</p>
        <input type="file" name="proImg" placeholder="">
        <br>
        <button type="submit">Add Product</button>
    </form>
</main>

<%-include('footer')%>